--2018-07-27 11:14:41--  https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.32.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.32.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1203 (1.2K) [text/plain]
Saving to: ‘Python.gitignore.1’

     0K .                                                     100% 18.6M=0s

2018-07-27 11:14:46 (18.6 MB/s) - ‘Python.gitignore.1’ saved [1203/1203]

